body{
    background-color: gray;
}

.nav-title{
    display: flex;
    justify-content: flex-start;
    color: white;
}

li{
    background-color: gray;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    border: 10px;
    list-style-type: none;
}

.btn{
    height: 30px;
    width: 80px;
    margin: 10px;
    font-size: 100%;
    text-align: center;
    color: white;
    background-color: skyblue;
    box-shadow: 3px 3px black;
}